{% extends 'customer/home.html' %}
{%  load static %}
{% block content %}
<div class="row">
  <div class="col-1"></div>
  <div class="col-1">
    <a href="{% url 'customer:home' %}" class="btn btn-primary" style="padding: 10px;font-size: medium;">Back</a>
</div>
</div>
<br><br><br>

<div class="row">
{% for i in plants %}
<div class="col-3">
  <div class="card" style="width: 36rem;">
      <img src="{{i.image.url}}" class="card-img-top" alt="{{i.image}}" style="height: 300px;width: 350px;padding:15px">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <h3 class="card-title">{{i.price}}</h3>
        
       <form action="{% url 'cart:add_to_cart' i.id %}" method="post">

          {% csrf_token %}

          <div class="quantity" style="display: none;">
          <input type="number" name="quantity" id="quantity" value="1" min="1" required></div>
          <button type="submit" class="btn btn-primary">Add to cart</button>
       </form>
      </div>
    </div>
</div>
{% endfor %}

<br><br>
{% for i in pots %}
<div class="col-3">
  <div class="card" style="width: 36rem;">
      <img src="{{i.image.url}}" class="card-img-top" alt="..."style="height: 300px;width: 350px;padding:15px">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <h3 class="card-title">{{i.price}}</h3>
        
       <form action="{%  url 'cart:add_to_cart_pot' i.id  %}" method="post">

          {% csrf_token %}

          <div class="quantity" style="display: none;">
          <input type="number" name="quantity" id="quantity" value="1" min="1" required></div>
          <button type="submit" class="btn btn-primary">Add to cart</button>
       </form>
      </div>
    </div>
</div>
{% endfor %}
<br>
<br>
    
{% for i in pebbles %}
<div class="col-3">
  <div class="card" style="width: 36rem;">
      <img src="{{i.image.url}}" class="card-img-top" alt="..."style="height: 300px;width: 350px;padding:15px">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <h3 class="card-title">{{i.price}}</h3>
        
       <form action="{% url 'cart:add_to_cart_pebbles' i.id %}" method="post">

          {% csrf_token %}

          <div class="quantity"style="display: none;">
          <input type="number" name="quantity" id="quantity" value="1" min="1" required></div>
          <button type="submit" class="btn btn-primary">Add to cart</button>
       </form>
      </div>
    </div>
</div>
{% endfor %}
 
<br><br>
{% for i in fertilisers %}
<div class="col-3">
  <div class="card" style="width: 36rem;">
      <img src="{{i.image.url}}" class="card-img-top" alt="..."style="height: 300px;width: 350px;padding:15px">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <h3 class="card-title">{{i.price}}</h3>
        
       <form action="{% url 'cart:add_to_cart_fertilisers' i.id %}" method="post">

          {% csrf_token %}

          <div class="quantity"style="display: none;">
          <input type="number" name="quantity" id="quantity" value="1" min="1" required></div>
          <button type="submit" class="btn btn-primary">Add to cart</button>
       </form>
      </div>
    </div>
</div>
{% endfor %}

<br><br>

{% for i in seeds %}
<div class="col-3">
  <div class="card" style="width: 36rem; ;">
      <img src="{{i.image.url}}" class="card-img-top" alt="..."style="height: 250px;width: 300px;padding:15px">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <h3 class="card-title">{{i.price}}</h3>
        
       <form action="{% url 'cart:add_to_cart_seeds' i.id %}" method="post">

          {% csrf_token %}

          <div class="quantity"style="display: none;">
          <input type="number" name="quantity" id="quantity" value="1" min="1" required></div>
          <button type="submit" class="btn btn-primary">Add to cart</button>
       </form>
      </div>
    </div>
</div>
{% endfor %}

<br><br>
</div>

{% endblock %}