
{% extends 'staff/staff_dashboard.html' %}
{% load static %}
{% block content %}
<div class="container" style="background-image: url('');">
 <div class="main" style="height: 700px;width: 100%;" >  
   <h1 style="padding-top: 100px; padding-left: 500px;">ADD POTS</h1><br>
    <form action="" method="post" enctype="multipart/form-data" style="padding-left: 520px;">
        {% csrf_token %}
        <input type="text"  id="" placeholder="name" name="potsname"><br><br>
        <input type="text"  id="" placeholder="description" name="description"><br><br>
        <input type="text"  id="" placeholder="price" name="price"><br><br>
        <input type="file" name="image" id=""><br><br>
        <select name="categories_pots" id="">
            
         {% for category in categories_pots %}

            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Add Product</button>
    </form>
    </div>
</div> 
</div>
</div>

{% endblock %}