{% extends 'staff/view_pebbles.html' %}
{% load static %}
{% block content %}
<div class="container">
 <div class="main" style="height: 700px;width: 100%;" >
   


   
   <h1 style="padding-top: 100px; padding-left: 500px;">Update Pebbles</h1><br>
    <form action="" method="post" enctype="multipart/form-data" style="padding-left: 520px;">
        {% csrf_token %}
        <input type="text"  id="" placeholder="name" name="pebblesname" value="{{product.product_name}}"><br><br>
        <input type="text"  id="" placeholder="description" name="description" value="{{product.description}}"><br><br>
        <input type="text"  id="" placeholder="price" name="price" value="{{product.price}}"><br><br>
        <input type="file" name="image" id=""><br><br>
        <select name="categories_pebbles" id="">
            
            {% for category in categories_pebbles %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Update Pebbles</button>
    </form>
    </div>
</div> 
</div>
</div>

{% endblock %}