{% extends 'staff/staff_dashboard.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <table>
            <tr style="padding: 20px;">
                <td>name</td>
                <td>price</td>
                <td>image</td>
                <td>description</td>
                <td>category</td>
            </tr>
            {% for  product in pebbles %}
            <tr>
                <td>{{product.product_name}}</td>
                <td>{{product.price}}</td>
                <td><img src="{{product.image.url}}" alt="" width="200px"></td>
                <td>{{product.description}}</td>
                <td>{{product.category_name}}</td>
             
                <td><a href="{% url 'staff:update_pebbles' product.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'staff:delete_pebbles' product.id %}">Delete</a></td>
        </tr>
        {% endfor %}
          
        </table>

    </div>
</div>

{% endblock %}